# Default configuration settings

[database]
name = "finances"
start_date = 2025-01-01     # note: no quotes around date!

# [budget]
# income = [
#     { source = "income:yoyodyne", account = "checking" },
#     { source = "interest", account = "checking" },
# ]
# allocation = [
#     { category = "expenses:food", amount = 500 },
#     { category = "expenses:home", amount = 2550 },
#     { category = "expenses:car", amount = 1000 },
#     { category = "equity", amount = 500 },
# ]
# remainder = 'expenses:travel'

[csv]

[csv.occu]
description = 'rec["Description"] + " ยง " + rec["Extended Description"]'
date = 'rec["Posting Date"]'
amount = 'abs(float(rec["Amount"]))'
credit = 'rec["Amount"].startswith("-")'

[csv.chase]
description = 'rec["Description"]'
date = 'rec["Post Date"]'
amount = 'abs(float(rec["Amount"]))'
credit = 'rec["Amount"].startswith("-")'
payment = 'rec["Type"] == "Payment"'

[csv.citi]
description = 'rec["Description"]'
date = 'rec["Date"]'
amount = 'abs(float(rec["Debit"] or rec["Credit"]))'
credit = 'rec["Debit"]'
payment = '"AUTOPAY" in rec["Description"]'

[csv.amex]
description = 'rec["Description"]'
date = 'rec["Date"]'
amount = 'abs(float(rec["Amount"]))'
credit = 'float(rec["Amount"]) > 0'
payment = '"PAYMENT" in rec["Description"]'

[csv.apple]
description = 'rec["Description"]'
date = 'rec["Clearing Date"]'
amount = 'abs(float(rec["Amount (USD)"]))'
credit = 'float(rec["Amount (USD)"]) > 0'
payment = 'rec["Category"] == "Payment"'

[csv.capital]
description = 'rec["Description"]'
date = 'rec["Transaction Date"]'
amount = 'abs(float(rec["Debit"] or rec["Credit"]))'
credit = 'rec["Debit"]'
payment = '"AUTOPAY" in rec["Description"]'

[select]
fill_mode = 2
min_similarity = 50
max_similar = 5
