# Default configuration settings

[database]
name = "pytest"
start_date = 2024-01-01     # note: no quotes around date!

[csv]

[csv.occu]
description = 'rec["Description"] + " ยง " + rec["Extended Description"]'
date = 'rec["Posting Date"]'
amount = 'abs(float(rec["Amount"]))'
credit = 'rec["Amount"].startswith("-")'

[csv.chase]
description = 'rec["Description"]'
date = 'rec["Post Date"]'
amount = 'abs(float(rec["Amount"]))'
credit = 'rec["Amount"].startswith("-")'
payment = 'rec["Type"] == "Payment"'

[csv.citi]
description = 'rec["Description"]'
date = 'rec["Date"]'
amount = 'abs(float(rec["Debit"] or rec["Credit"]))'
credit = 'rec["Debit"]'
payment = '"AUTOPAY" in rec["Description"]'

[csv.apple]
description = 'rec["Description"]'
date = 'rec["Clearing Date"]'
amount = 'abs(float(rec["Amount (USD)"]))'
credit = 'float(rec["Amount (USD)"]) > 0'
payment = 'rec["Category"] == "Payment"'

[select]
fill_mode = 2
min_similarity = 50
max_similar = 5
